<%= form_for @person do |f| %>
  <% if @person.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@person.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @person.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :combatant_name %><br>
    <%= f.text_field :combatant_name %>
  </p>
 
  <p>
    <%= f.label :combatant_description %><br>
    <%= f.text_area :combatant_description %>
  </p>
 
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
