<h1>Listing people</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
 
  <% @people.each do |person| %>
    <tr>
      <td><%= person.combatant_name %></td>
      <td><%= person.combatant_description %></td>
      <td><%= link_to 'Show', person %></td>
      <td><%= link_to 'Edit', edit_person_path(person) %></td>
      <td><%= link_to 'Delete', person_path(person), method: :delete, data: { confirm: 'Remove Combatant?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', "/" %>
