<%= form_for(@game) do |f| %>
<% if @game.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

  <ul>
    <% @game.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :game_type, "Type" %><br>
  <%= f.text_area :game_type %>
</p>

<% for person in Person.find(:all) %>  
    <div>  
      <%= check_box_tag "game[person_ids][]", person.id, @game.people.include?(person) %>  
      <%= person.name %>  
    </div>  
<% end %> 


<div class="actions">
  <%= f.submit %>
</div>
<% end %>
