<p id="notice"><%= notice %></p>
<% if @game.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

  <ul>
    <% @game.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p style="text-align:center">
  <strong>Title:</strong>
  <%= @game.title %>
</p>
 
<p style="text-align:center">
  <strong>Game Type:</strong>
  <%= @game.game_type %>
</p>

<h2>PLAYERS</h2>

<p>
  <%= form_for(@game, :url => record_winner_game_path(@game), :method => :post) do |f| %>
    <% @game.person_ids.each do |id| %>
    <div>
      <%= radio_button_tag "game[winner_id]", id %>
      <%= label_tag :winner_name, "#{Person.find(id).name}" %>
    </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Complete Game!" %>
    </div>
  <% end %>
  <div>
    <strong>Winner: </strong>
    <%= Person.find(@game.winner_id_was).name unless @game.winner_id_was.nil? %>
  </div>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
