<p id="notice"><%= notice %></p>

<p style="text-align:center">
  <strong>Title:</strong>
  <%= @game.title %>
</p>
 
<p style="text-align:center">
  <strong>Game Type:</strong>
  <%= @game.game_type %>
</p>

<h2>PLAYERS</h2>
<tr>
<% @game.person_ids.each do |id| %>
  <td><%= Person.find(id).name %></td><br/>
<% end %>
</tr>

<p>
  <div>
    <strong>Winner:</strong>
  </div>
  <%= form_for(@game, :url => record_winner_game_path(@game), :method => :post) do |f| %>
    <% @game.person_ids.each do |id| %>
    <div>
      <%= radio_button_tag "game[winner_id]", id %>
      <%= label_tag :winner_name, "#{Person.find(id).name}" %>
    </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Complete Game!" %>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
